.img-project {
  margin: 145px auto 30px;
  height: 500px;
  width: 1200px;
}
.img-project img {
  /* box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5); */
  border-radius: 15px;
}
h2 {
  font-family: Vazir;
  text-align: center;
  color: #356fdc;
}
@media (max-width: 568px) {
  .img-project {
    margin: 80px auto 15px;
    height: 80vh;
    width: 90vw;
  }
}
