.img-signin {
  margin: 145px auto 30px;
  height: 500px;
  width: 1200px;
}
.img-signin img {
  border: 1px solid rgba(153, 153, 153, 0.336);
  box-shadow: 1px 1px 1px 1px rgba(97, 97, 97, 0.336);
  border-radius: 4px;
}

.signin {
  border: 1px solid rgba(153, 153, 153, 0.336);
  box-shadow: 1px 1px 1px 1px rgba(97, 97, 97, 0.336);
  border-radius: 4px;
  width: 75vw;
  height: auto;
  margin: 0 auto;
  align-items: center;
}
.img-sin {
  height: 400px;
  width: 400px;
}
.signin-r {
  width: 500px;
  height: auto;
  padding: 45px 35px;
  margin-right: 90px;
  direction: ltr;
}
.signup {
  border: 1px solid rgba(153, 153, 153, 0.336);
  box-shadow: 1px 1px 1px 1px rgba(97, 97, 97, 0.336);
  border-radius: 4px;
  width: 75vw;
  height: auto;
  margin: 50px auto;
  align-items: center;
}

.signup-l {
  width: 500px;
  height: auto;
  padding: 45px 25px;
  margin-right: 0px;
}
@media (max-width: 568px) {
  .img-signin {
    margin: 80px auto 15px;
    height: 80vh;
    width: 90vw;
  }
}
