.cardservice {
  border: 1px dotted #4e4e4e;
  box-shadow: 2px 4px 4px #6b6b6b;
  margin: 30px auto 0;
  padding: 25px;
  direction: rtl;
  width: 90vw;
  height: auto;
  align-items: center;
  font-family: Vazir;
  border-radius: 3px;
}
.hr {
  margin: 30px auto;
  border: 2px solid #9b9b9b;
  width: 50vw;
}
